.about {
  grid-column: center-start / center-end;
  margin-top: -10vh;
  padding: 15rem 0;
  position: relative;
  z-index: -1;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 2fr 1fr;
  grid-column-gap: 3rem;
  grid-row-gap: 5rem;

  &_img {
    width: 100%;
    height: 100%;
    filter: brightness(50%);

    padding: 0.25rem;
    background-color: $color-grey-light;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 100%;
    height: 100%;
  }

  &_text {
    font-size: 1.4rem;

    margin-bottom: 1.5rem;
  }

  &_social {
    grid-column: 1/-1;
    grid-row: 2/-1;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.social {
  font-size: 3rem;
  color: $color-primary;

  &_f {
    font-size: 1.5rem;
    color: $color-secandery;
  }
}
