.services {
  grid-column: center-start / center-end;
  // background-color: $pink;

  &_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 6rem;
  }

  &:hover .service:not(:hover) {
    background-color: rgba($color: #000000, $alpha: 0.05);
    transform: scale(0.95);
  }
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2rem 5rem rgba($color-primary, 0.15);
  padding: 1rem;
  border: 1px solid $color-grey-light;

  cursor: pointer;

  &_logo {
    font-size: 8rem;
    color: $color-secandery;
    text-shadow: 2px 2px 2px $color-primary;
    margin-bottom: 4rem;
  }

  &_text {
    font-size: 1.4rem;
    text-align: center;
    color: $color-grey-dark;
  }

  &_heading {
    font-size: 2.9rem;
    color: $color-primary;
    text-shadow: 1px 1px 1px$color-secandery;
    margin-bottom: 1rem;
  }
  &:hover {
    transform: scale(1.05);
  }
}
